.banner {
  background-color: #9EABAE !important;
  background-image: url(assets/lab.png) !important;
  background-repeat: no-repeat !important;
  background-size: 35% !important;
  background-position: right 5% top 5% !important;
}
